header{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b4857, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5e6c7c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    color: #273031;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}